{% extends "web/base.html" %}
{% load static %}

{% block title %}
    Registrate
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <header role="banner" id="fh5co-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="index.html">OutputWatcher</a> 
				</div>
			</nav>
	  </div>
	</header>

	<div id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="col-md-5 col-md-offset-4 text-center">

			<form class="contact-form" action="{% url 'register' %}" method="post">
				{% csrf_token %}
				{% if register_form.errors %}
				    {% for error in register_form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
				{% endif %}
				<div class="form-group">
					{% for error in register_form.email.errors %}
			            <div class="alert alert-danger">
			                <strong>{{ error|escape }}</strong>
			            </div>
			        {% endfor %}
					<label for="email" class="sr-only">Email</label>
		        	{{ register_form.email }}
		        </div>
		        <div class="form-group">
					{% for error in register_form.password.errors %}
			            <div class="alert alert-danger">
			                <strong>{{ error|escape }}</strong>
			            </div>
			        {% endfor %}
					<label for="password" class="sr-only">Password</label>
		        	{{ register_form.password }}
		        </div>
		       	<div class="form-group">
		       		{% for error in register_form.repassword.errors %}
			            <div class="alert alert-danger">
			                <strong>{{ error|escape }}</strong>
			            </div>
			        {% endfor %}
					<label for="password" class="sr-only">Repeti Contraseña</label>
		        	{{ register_form.repassword }}
		        </div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-md" >Registrate</button>
				</div>
			</form>
			</div>
		</div>
	</div>
{% endblock %}

