{% extends "web/base.html" %}
{% load static %}

{% block title %}
    Buscar Outputs
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div>Buscar Outputs</div>
    <form action="{% url 'search-output' %}" method="post">
        {% csrf_token %}
        {{ search_form }}
        <button type="submit" class="search-form btn btn-default" id="search">Buscar</button>
    </form>

    <form action="{% url 'search-by-index' %}" method="post">
        {% csrf_token %}
        {{ search_index_form }}
        <button type="submit" class="search-form btn btn-default" id="search">Buscar</button>
    </form>
{% endblock %}

