<header class="main_menu_sec navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12">
				<div class="lft_hd">
<!-- 					<div class="main_menu">
						<nav id="nav_menu">
							<div id="navbar">
								<ul> -->
									<a href="{% url 'home' %}"><h1 style="color: white;">Output watcher <i class="fa fa-eye"></i></h1></a>
<!-- 								</ul>
							</div>		
						</nav>			
					</div>	 -->
				</div>
			</div>			
			<div class="col-lg-9 col-md-9 col-sm-12">
				<div class="rgt_hd">					
					<div class="main_menu">
						<nav id="nav_menu">
							<div id="navbar">
									<ul>
									{% if 'following-outputs' in request.path %}
										<li class="page-scroll"><a href="{% url 'search-output' %}">Buscar outputs</a></li>
									{% endif %}	
									{% if user.is_authenticated %}
										<li class="page-scroll"><a href="{% url 'logout' %}">Cerrar Session</a></li>
									{% endif %}	
							</ul>
								</div>
						</nav>			
					</div>							
				</div>
			</div>	
		</div>	
	</div>	
</header>