{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <title>{% block title %}{% endblock %} | Bitcoin OutputWatcher</title>        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!--[if lt IE 9]> <script src="js/html5shiv.js"></script> 
    <script src="js/respond.min.js"></script> <![endif]-->      
        <!-- Place favicon.ico in the root directory -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link href="{% static 'web/css/normalize.css' %}" rel="stylesheet">
        <link href="{% static 'web/css/main.css' %}" rel="stylesheet">
        <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'web/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'web/css/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'web/css/responsive.css' %}" rel="stylesheet">
        <link href="{% static 'web/css/style.css' %}" rel="stylesheet">

        {% block head %}
        {% endblock %}

    </head>

    <body>

        {% block header %}
        {% endblock %}
                 <!-- start preloader -->
        <div id="loader-wrapper">
            <div class="logo"></div>
            <div id="loader">
            </div>
        </div>
        
        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        
    </body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{% static 'web/js/vendor/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/isotope.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/appear.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/jquery.counterup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/showHide.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/jquery.nicescroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/jquery.easing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/scrolling-nav.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/main.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function(){


           $('.show_hide').showHide({            
                speed: 1000,  // speed you want the toggle to happen    
                easing: '',  // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
                changeText: 1, // if you dont want the button text to change, set this to 0
                showText: 'View',// the button text to show when a div is closed
                hideText: 'Close' // the button text to show when a div is open
                             
            }); 


        });

    </script>
    <script>
            jQuery(document).ready(function( $ ) {
                $('.counter').counterUp({
                    delay: 10,
                    time: 1000
                });
            });
        </script>

        <script>

          //Hide Overflow of Body on DOM Ready //
        $(document).ready(function(){
            $("body").css("overflow", "hidden");
        });

        // Show Overflow of Body when Everything has Loaded 
        $(window).load(function(){
            $("body").css("overflow", "visible");        
            var nice=$('html').niceScroll({
            cursorborder:"5",
            cursorcolor:"#00AFF0",
            cursorwidth:"3px",
            boxzoom:true, 
            autohidemode:true
            });

        });
    </script>


    {% block scripts%}
    {% endblock %}
</html>