{% extends "web/base.html" %}
{% load static %}

{% block title %}
    Index
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="gtco-loader"></div>

    <div id="page">
    	<div class="page-inner">
			<nav class="gtco-nav" role="navigation">
				<div class="gtco-container">
					
					<div class="row">
						<div class="col-sm-4 col-xs-12">
							<div id="gtco-logo"><a href="index.html">OutputWatcher <em>.</em></a></div>
						</div>
					</div>
					
				</div>
			</nav>
			<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static 'web/images/img_4.jpg' %})">
				<div class="overlay"></div>
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-12 col-md-offset-0 text-left">
							

							<div class="row row-mt-10em">
								<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
									<span class="intro-text-small">Output watcher <i class="icon-eye"></i></span>
									<h1>Registra un webhook y enterate cuando un output es gastado</h1>	
								</div>
								<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
									<div class="form-wrap">
										<div class="tab">
											<ul class="tab-menu">
												<li class="active gtco-first"><a href="#" data-tab="signup">Registrate</a></li>
												<li class="gtco-second"><a href="#" data-tab="login">Login</a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-content-inner active" data-content="signup">
													<form action="#">
														<div class="row form-group">
															<div class="col-md-12">
																<label for="username">Email</label>
																<input type="text" class="form-control" id="username">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="password">Password</label>
																<input type="password" class="form-control" id="password">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="password2">Repeat Password</label>
																<input type="password" class="form-control" id="password2">
															</div>
														</div>

														<div class="row form-group">
															<div class="col-md-12">
																<input type="submit" class="btn btn-primary" value="Sign up">
															</div>
														</div>
													</form>	
												</div>

												<div class="tab-content-inner" data-content="login">
													<form action="#">
														<div class="row form-group">
															<div class="col-md-12">
																<label for="username">Email</label>
																<input type="text" class="form-control" id="username">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="password">Password</label>
																<input type="password" class="form-control" id="password">
															</div>
														</div>

														<div class="row form-group">
															<div class="col-md-12">
																<input type="submit" class="btn btn-primary" value="Login">
															</div>
														</div>
													</form>	
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
									
							
						</div>
					</div>
				</div>
			</header>
		</div>
    </div>
{% endblock %}